
<!-- DESCOMENTAR PARA VER "LOGIN" (sin terminar html) -->
<!--
<header>
  <img id="logoUni" src="" alt="Logo Universidad">
</header>

<form>
  <label for="iMail">Correo electrónico</label>
  <br>
  <input class="extended" type="email" id="iMail" name="iMail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
  <br>
  <br>
  <label for="iPassword">Contraseña</label>
  <br>
  <input class="extended"  type="password" id="iPassword" name="iPassword" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required>
  <br>
  <input class="button" type="submit" value="Iniciar Sesión">
</form>
-->


<!-- DESCOMENTAR PARA VER "MENÚ PRINCIPAL"-->
<!--
<header>
  <div id = "wifi">
      <img id="personPhotoHeader" src="" alt="Wifi">
  </div>
  <div class="rightHeader">
      <p id="personNameHeader">_nombreUsuario_</p>
      <div id = "userMenu">
          <img id="personPhotoHeader" src="" alt="Foto Usuario">
      </div>
  </div>
</header>

<section id = "siguienteClase">
  <p>Siguiente clase...</p>
  <p>_Asignatura_</p>
  <div><p>_Hora_</p></div>
  <div><p>_Aula_</p></div>
  <button>Ir a Horario</button>
</section>

<section id = "opcionesMenu">
  <button>MIS NOTAS</button>
  <button>MENSAJES</button>
  <button>CALENDARIO</button>
  <button>ENLACES EXTERNOS</button>
  <button>AYUDA</button>
  <button>AJUSTES</button>
</section>
-->


<!-- DESCOMENTAR PARA VER "HORARIO" -->
<!--
<header>
  <div class = "arriba">
    <button><img id="return" src="" alt="Volver"></button>
    <div><p>HORARIO</p></div>
  </div>
  <div class = "abajo">
    <button><img id="flechaIzq" src="" alt="Semana anterior"></button>
    <div><p>_Semana_</p></div>
    <button><img id="flechaDer" src="" alt="Semana siguiente"></button>
  </div>
</header>

<section>
  <article class = "horario_semana">
    <div class = "horario_dia">
      <div>_diaYFecha_</div>
      <div class = "horario_clase">
        <p>_Asignatura_</p>
        <div><p>_Hora_</p></div>
        <div><p>_Aula_</p></div>
      </div>
    </div>
  </article>
</section>
-->