<html>

<div class="body" fxLayout="column">

    <div class="bienvenido" fxFlex="40px" fxLayout="row" fxLayoutAlign="space-between">
        <div class="bienvenido-left">
            <mat-icon>account_circle</mat-icon>
            Bienvenido Luis!
        </div>
        <div class="bienvenido-right">
            <img id="logoUni" src="assets/logo.png" alt="logo UC3M">
        </div>
    </div> 

    <div class="preview" fxFlex="40" fxLayout="column" fxLayoutAlign="space-between">
        <p>Siguiente clase:</p>
        <p>Hoy, 12:30</p>
        <p>Aprendizaje Automático</p>
        <div class="preview-fila" fxLayout="row" fxLayoutAlign="space-between">
            <p>1.0.C02</p>
            <div class="horario">
                <button mat-flat-button color="primary" (click)="this.router.navigate(['/horario']);">
                    Horario
                    <mat-icon>arrow_forward</mat-icon>
                </button>
            </div>
        </div>
    </div>

    <div class="menu-botones" fxFlex fxLayout="column" fxLayoutAlign="space-evenly" fxLayoutGap="2vh">
        <div class="botones-fila" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="2vh" fxFlex>
            <div class="notas" fxFlex>
                <button mat-flat-button color="primary">
                    <mat-icon>school</mat-icon>
                    <p>Mis notas</p>
                </button>
            </div>
            <div class="mensajes" fxFlex>
                <button mat-flat-button color="primary">
                    <mat-icon>mail</mat-icon>
                    <p>Mensajes</p>
                </button>
            </div>
        </div>
        <div class="botones-fila" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="2vh" fxFlex>
            <div class="calendario" fxFlex>
                <button mat-flat-button color="primary">
                    <mat-icon>date_range</mat-icon>
                    <p>Calendario</p>
                </button>
            </div>
            <div class="enlaces" fxFlex>
                <button mat-flat-button color="primary">
                    <mat-icon>link</mat-icon>
                    <p>Enlaces</p>
                </button>
            </div>
        </div>
        <div class="botones-fila" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="2vh" fxFlex>
            <div class="ayuda" fxFlex>
                <button mat-flat-button color="primary">
                    <mat-icon>help</mat-icon>
                    <p>Ayuda</p>
                </button>
            </div>
            <div class="ajustes" fxFlex>
                <button mat-flat-button color="primary" (click)="this.router.navigate(['/login']);">
                    <mat-icon>settings</mat-icon>
                    <p>Ajustes</p>
                </button>
            </div>
        </div>
    </div>

</div>

</html>