.body {
    height: 100%;
    margin: 0 2vh;
}

.bienvenido {
    margin: 1vh 0 1vh;
}

.bienvenido-right > img {
    padding-top: 0.9vh;
    margin-left: 10px;
    height: 60%;
}

.preview {
    border-radius: 4px;
    background-color: #90CAF9;
    color: black;
    border-radius: 4px;
}

.preview > p, .preview-fila > p {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 20px;
}


.menu-botones {
    margin: 2vh 0;
}

.menu-botones button {
    width: 100%;
    height: 100%;
}

.menu-botones mat-icon {
    font-size: 50px;
    padding-right: 2.8vh;
    padding-bottom: 3vh;
}

.menu-botones p {
    font-size: 20px;
    padding-bottom: 0vh;
}

/* Links utiles para esta movida:
- Crear un tema personalizado (yo diria simplemente cambiar los colores primary. accent, etc de un tema por default a los que queramos):
  https://material.angular.io/guide/theming
- Flex y layout demo: https://tburleson-layouts-demos.firebaseapp.com/#/docs
- Botones: https://material.angular.io/components/button/overview
- Iconos: https://material.angular.io/components/icon/overview
- Lista de iconos: https://fonts.google.com/icons
*/