.body {
    height: 100%;
    margin: 0 2vh;
}

.bienvenido {
    margin: 1vh 0 1vh;
}

.bienvenido-left mat-icon {
    font-size: 40px;
    margin-top: -15px;
}

.bienvenido-left mat-icon {
    font-size: 38px;
    margin-top: -15px;
}

.bienvenido-mensaje {
    padding-left: 20px;
    margin-bottom: 0px;
    font-size: 18px;
}

.bienvenido-right > img {
    padding-top: 0.9vh;
    margin-left: 10px;
    height: 60%;
}

.preview {
    background-color: #90CAF9;
    color: black;
    border-radius: 4px;
    border: #283593 2px solid; 
}

.p1 {
    padding-top: 2vh;
    font-size: 20px;
}

.p2 {
    font-size: 40px;
    padding-top: 0vh;
}

.p3 {
    font-size: 28px;
}

.preview-fila p {
    font-size: 20px;
    padding-bottom: 1vh;
}

.preview > p, .preview-fila > p {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.horario {
    padding-bottom: 10px;
    padding-right: 10px;
}

.horario button {
    width: 18vh;
    height: 8vh;
}

.menu-botones {
    margin: 2vh 0;
}

.menu-botones button {
    width: 100%;
    height: 100%;
}

.menu-botones mat-icon {
    font-size: 50px;
    padding-right: 2.5vh;
    padding-bottom: 3vh;
    margin-top: 1.5vh;
}

.menu-botones p {
    font-size: 20px;
    padding-bottom: 0vh;
}

/* Links utiles para esta movida:
- Crear un tema personalizado (yo diria simplemente cambiar los colores primary. accent, etc de un tema por default a los que queramos):
  https://material.angular.io/guide/theming
- Flex y layout demo: https://tburleson-layouts-demos.firebaseapp.com/#/docs
- Botones: https://material.angular.io/components/button/overview
- Iconos: https://material.angular.io/components/icon/overview
- Lista de iconos: https://fonts.google.com/icons
*/