<html>

<div class="body" fxLayout="column">

    <div class="header" fxFlex="40px" fxLayout="row">
        <div class="back-button" fxFlex="20" fxFlexAlign="center">
            <button mat-icon-button (click)="this.router.navigate(['/principal']);">
                <mat-icon>arrow_back</mat-icon>
            </button>
        </div>
        <div class="titulo" fxFlex fxFlexAlign="center">
            <p>Horario</p>
        </div>
        <div fxFlex="20"></div>
    </div>

    <div class="semana" fxLayout="row">
        <div class="prev-semana">
            <button mat-icon-button>
                <mat-icon>west</mat-icon>
            </button>
        </div>
        <div class="texto-semana" fxFlex fxFlexAlign="center">
            <p>3 May. - 9 May. 2021</p>
        </div>
        <div class="sig-semana">
            <button mat-icon-button>
                <mat-icon>east</mat-icon>
            </button>
        </div>
    </div>

    <div class="tablas" fxFlex fxLayout="column" fxLayoutGap="1vh">
        <div class="dia">
            <div class="titulo-dia">
                <p>Lunes 3 May.</p>
            </div>
            <div class="clase" gdAreas="hora-i asignatura asignatura | hora-f aula tipo-clase"
                gdColumns="18% auto 18%">
                <div class="hora-i" gdArea="hora-i">
                    <p>12:30</p>
                </div>
                <div class="asignatura" gdArea="asignatura">
                    <p>Diseño de Sistemas Interactivos</p>
                </div>
                <div class="hora-f" gdArea="hora-f">
                    <p>10:30</p>
                </div>
                <div class="aula" gdArea="aula">
                    <p>4.1.D03</p>
                </div>
                <div class="tipo-clase" gdArea="tipo-clase">
                    <p>Magistral</p>
                </div>
            </div>
            <div class="clase" gdAreas="hora-i asignatura asignatura | hora-f aula tipo-clase"
                gdColumns="18% auto 18%">
                <div class="hora-i" gdArea="hora-i">
                    <p>15:00</p>
                </div>
                <div class="asignatura" gdArea="asignatura">
                    <p>Aprendizaje Automático</p>
                </div>
                <div class="hora-f" gdArea="hora-f">
                    <p>17:00</p>
                </div>
                <div class="aula" gdArea="aula">
                    <p>4.1.D03</p>
                </div>
                <div class="tipo-clase" gdArea="tipo-clase">
                    <p>Magistral</p>
                </div>
            </div>
            <div class="clase" gdAreas="hora-i asignatura asignatura | hora-f aula tipo-clase"
                gdColumns="18% auto 18%">
                <div class="hora-i" gdArea="hora-i">
                    <p>17:00</p>
                </div>
                <div class="asignatura" gdArea="asignatura">
                    <p>Procesadores del Lenguaje</p>
                </div>
                <div class="hora-f" gdArea="hora-f">
                    <p>19:00</p>
                </div>
                <div class="aula" gdArea="aula">
                    <p>4.1.D03</p>
                </div>
                <div class="tipo-clase" gdArea="tipo-clase">
                    <p>Magistral</p>
                </div>
            </div>
            <div class="clase" gdAreas="hora-i asignatura asignatura | hora-f aula tipo-clase"
                gdColumns="18% auto 18%">
                <div class="hora-i" gdArea="hora-i">
                    <p>19:00</p>
                </div>
                <div class="asignatura" gdArea="asignatura">
                    <p>Diseño de Sistemas Operativos</p>
                </div>
                <div class="hora-f" gdArea="hora-f">
                    <p>21:00</p>
                </div>
                <div class="aula" gdArea="aula">
                    <p>4.1.D03</p>
                </div>
                <div class="tipo-clase" gdArea="tipo-clase">
                    <p>Teoría</p>
                </div>
            </div>
        </div>
        <div class="dia">
            <div class="titulo-dia">
                <p>Miercoles 5 May.</p>
            </div>
            <div class="clase" gdAreas="hora-i asignatura asignatura | hora-f aula tipo-clase"
                gdColumns="18% auto 18%">
                <div class="hora-i" gdArea="hora-i">
                    <p>15:00</p>
                </div>
                <div class="asignatura" gdArea="asignatura">
                    <p>Diseño de Sistemas Operativos</p>
                </div>
                <div class="hora-f" gdArea="hora-f">
                    <p>17:00</p>
                </div>
                <div class="aula" gdArea="aula">
                    <p>2.3.B01</p>
                </div>
                <div class="tipo-clase" gdArea="tipo-clase">
                    <p>Magistral</p>
                </div>
            </div>
            <div class="clase" gdAreas="hora-i asignatura asignatura | hora-f aula tipo-clase"
                gdColumns="18% auto 18%">
                <div class="hora-i" gdArea="hora-i">
                    <p>17:00</p>
                </div>
                <div class="asignatura" gdArea="asignatura">
                    <p>Procesadores del Lenguaje</p>
                </div>
                <div class="hora-f" gdArea="hora-f">
                    <p>19:00</p>
                </div>
                <div class="aula" gdArea="aula">
                    <p>2.3.C05</p>
                </div>
                <div class="tipo-clase" gdArea="tipo-clase">
                    <p>Teoría</p>
                </div>
            </div>
        </div>
        <div class="dia">
            <div class="titulo-dia">
                <p>Jueves 6 May.</p>
            </div>
            <div class="clase" gdAreas="hora-i asignatura asignatura | hora-f aula tipo-clase"
                gdColumns="18% auto 18%">
                <div class="hora-i" gdArea="hora-i">
                    <p>8:30</p>
                </div>
                <div class="asignatura" gdArea="asignatura">
                    <p>Diseño de Sistemas Interactivos</p>
                </div>
                <div class="hora-f" gdArea="hora-f">
                    <p>10:30</p>
                </div>
                <div class="aula" gdArea="aula">
                    <p>4.0.D01</p>
                </div>
                <div class="tipo-clase" gdArea="tipo-clase">
                    <p>Teoría</p>
                </div>
            </div>
            <div class="clase" gdAreas="hora-i asignatura asignatura | hora-f aula tipo-clase"
                gdColumns="18% auto 18%">
                <div class="hora-i" gdArea="hora-i">
                    <p>10:30</p>
                </div>
                <div class="asignatura" gdArea="asignatura">
                    <p>Aprendizaje Automático</p>
                </div>
                <div class="hora-f" gdArea="hora-f">
                    <p>12:30</p>
                </div>
                <div class="aula" gdArea="aula">
                    <p>4.0.D01</p>
                </div>
                <div class="tipo-clase" gdArea="tipo-clase">
                    <p>Teoría</p>
                </div>
            </div>
        </div>
        <div class="dia">
            <div class="titulo-dia">
                <p>Viernes 7 May.</p>
            </div>
            <div class="clase" gdAreas="hora-i asignatura asignatura | hora-f aula tipo-clase"
                gdColumns="18% auto 18%">
                <div class="hora-i" gdArea="hora-i">
                    <p>10:30</p>
                </div>
                <div class="asignatura" gdArea="asignatura">
                    <p>Heurística</p>
                </div>
                <div class="hora-f" gdArea="hora-f">
                    <p>12:30</p>
                </div>
                <div class="aula" gdArea="aula">
                    <p>2.3.A03</p>
                </div>
                <div class="tipo-clase" gdArea="tipo-clase">
                    <p>Magistral</p>
                </div>
            </div>
            <div class="clase" gdAreas="hora-i asignatura asignatura | hora-f aula tipo-clase"
                gdColumns="18% auto 18%">
                <div class="hora-i" gdArea="hora-i">
                    <p>15:00</p>
                </div>
                <div class="asignatura" gdArea="asignatura">
                    <p>Heurística</p>
                </div>
                <div class="hora-f" gdArea="hora-f">
                    <p>17:00</p>
                </div>
                <div class="aula" gdArea="aula">
                    <p>2.3.A03</p>
                </div>
                <div class="tipo-clase" gdArea="tipo-clase">
                    <p>Teoría</p>
                </div>
            </div>
            <div class="clase" gdAreas="hora-i asignatura asignatura | hora-f aula tipo-clase"
                gdColumns="18% auto 18%">
                <div class="hora-i" gdArea="hora-i">
                    <p>17:00</p>
                </div>
                <div class="asignatura" gdArea="asignatura">
                    <p>Aprendizaje Automático</p>
                </div>
                <div class="hora-f" gdArea="hora-f">
                    <p>19:00</p>
                </div>
                <div class="aula" gdArea="aula">
                    <p>2.2.B05</p>
                </div>
                <div class="tipo-clase" gdArea="tipo-clase">
                    <p>Prácticas</p>
                </div>
            </div>
        </div>


    </div>

</div>

</html>